<h1>Add Photo</h1>

<div class="row">
<% if @images %>
  <% @images.each do |image| %>
    <div class="col-xs-12 col-md-6">
      <%= image_tag image.photo.thumb.url, class: 'square item_image' %>
    </div>
  <% end %>
<% end %>
</div>

<%= simple_form_for @product_image, url: product_images_path(image_upload_id: params[:image_upload_id]), method: :post do |f| %>
  <label class = 'btn btn-success btn-lg btn-block'>
    <%= f.file_field :photo, style: 'display:none;', onchange: "$('#new_product_image').submit();" %>
    <i class="fa fa-plus-circle"></i> Add New Photo
  </label>
<% end %>

<br>
<%= link_to 'Next', new_item_path(image_upload_id: params[:image_upload_id]), class: 'btn btn-primary btn-lg btn-block' %>