<h1>My Items</h1>
<div class="row">

  <% @items.each do |item| %>
  <div class="col-xs-12 col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <% if item.product_images.empty? %>
          <%= image_tag 'shirt.png', class: 'item_image' %>
        <% else %>
          <%= image_tag ProductImage.find_by(item_id: item.id).photo.thumb.url, class: 'item_image' %>
        <% end %>
        <p><%= item.description %></p>
      </div>
      <div class="panel-footer">by <%= fullname(User.find(item.user_id)) %></div>
    </div>
  </div>
  <% end %>

</div>