// Place all the styles related to the appointment_requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile_container {
  margin: 20px 0px;
  border-bottom: 1px solid #29AFE7;
  padding: 10px;
}

.collection_radio_buttons {
  margin: 0px 5px 0px 10px;
}