.content {
  margin: 40px 0px 100px 0px;
  padding-bottom: 100px;
}

.scrollable {
  overflow-y: auto; 
  max-height: 60vh
}

@mixin img_circle {
  border-radius: 50%;
}

.img_circle_sm {
  height: 25px;
  width: 25px;
  margin: 0px 10px;
  @include img_circle;
}

.panel-body-dashboard {
  height: 170px;
}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;

  .embed-responsive-item,
  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
  }
}

// Modifier class for 16:9 aspect ratio
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

// Modifier class for 4:3 aspect ratio
.embed-responsive-4by3 {
  padding-bottom: 75%;
}

@media only screen and (max-width: 992px) {
  .panel-body-dashboard {
    height: auto;
  }
}