// navbar stuff
.navbar-inverse {
  background-color: white !important; 
}

.logo {
  height: 40px;
  display: table;
}

.navbar {
  border-bottom: 1px solid #34495E !important;
}

.navbar-inverse .navbar-nav > li > a {
  color: gray !important;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #2090AC;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: white !important;
}

.navbar a:hover {
  color: white !important;
}
// end of navbar stuff

.btn-fixed {
  width: 150px;
}

#image_content {
  margin-top: 70px
}

#sign_up_options {
  display: none;
  margin-top: 140px;
}

#copy_h1 {
  font-size: 36px;
  font-weight: 200;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: 'open_sanslight';
  margin-left: 0px;
  margin-right: 0px;
}


@mixin blur {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}


#blur_parent {
  height: 100%;
  text-align: center;
  color:white;
  background: rgba(0,0,0,0.2);
}

#blur_image {
  background: url('/assets/aluxure.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index: -1;
  height: 100vh;
  @include blur;
}

.image_text_wrapper {
  display: table;
  height: 400px;
  margin: auto;
  z-index: 10
}

.image_text {
  display: table-cell;
  vertical-align: middle;
}

.footer_logo {
  height: 60px;
}