// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin blur {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}


#blur_parent {
  height: 100%;
  text-align: center;
  color:white;
  background: rgba(0,0,0,0.7);
}

#blur_image {
  background: url('/assets/aluxure.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index: -1;
  height: 100vh;
  @include blur;
}

.image_text_wrapper {
  display: table;
  height: 400px;
  margin: auto;
  z-index: 10
}

.image_text {
  display: table-cell;
  vertical-align: middle;
}