<div class="section" id="learn">

  <div class="container">

    <div class="row" style="margin: 50px 0px 50px 0px;">
      <h1 class="text-center" style="font-family: 'pacificoregular'">Stores</h1>
      <hr>
      <div class="col-xs-12">
        <h1 class="text-center" style="font-weight:200">WOULD YOU LIKE TO...</h1>
      </div>
      <br>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="block-icon">
          <i class="fa fa-rocket"></i>
        </div>

        <div class="block-body">
          <h2>Increase Your Acceptance Rates?</h2>
          <div class="line-subtitle"></div>
          <p>
            Pre-screen items and indicate interest before the customer visits your store.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="block-icon">
          <i class="fa fa-users"></i>
        </div>

        <div class="block-body">
          <h2>Handle Appointments More Effectively?</h2>
          <div class="line-subtitle"></div>
          <p>
            Schedule appointments electronically and provide customers with available times.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="block-icon">
          <i class="fa fa-info-circle"></i>
        </div>

        <div class="block-body">
          <h2>Provide Consignors with Status Updates?</h2>
          <div class="line-subtitle"></div>
          <p>
            Let your consignors know the status of their consigned items and when payment is available.
          </p>
        </div>
      </div>
    </div><!-- /.row -->
    
    <div class="row" style="margin: 100px 0px 50px 0px;">
      <h1 class="text-center" style="font-family: 'pacificoregular'">Consignors</h1>
      <hr>
      <div class="col-xs-12">
        <h1 class="text-center" style="font-weight:200">WOULD YOU LIKE TO...</h1>
      </div>
      <br>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="block-icon">
          <i class="fa fa-check-square-o"></i>
        </div>

        <div class="block-body">
          <h2>Have Your Consignment Items Pre-screened?</h2>
          <div class="line-subtitle"></div>
          <p>
            Know exactly which items to take your favorite consignment store.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="block-icon">
          <i class="fa fa-calendar-check-o"></i>
        </div>

        <div class="block-body">
          <h2>Schedule Appointments Online for Item Review?</h2>
          <div class="line-subtitle"></div>
          <p>
            Request an appointment time to have your belongings evaluated.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="block-icon">
          <i class="fa fa-pencil"></i>
        </div>

        <div class="block-body">
          <h2>Keep Track of Your Items and Appointments?</h2>
          <div class="line-subtitle"></div>
          <p>
            Know at a glance which stores you have consigned items and appointments.
          </p>
        </div>
      </div>
    </div><!-- /.row -->

  </div><!-- /.container -->

</div><!-- /.section -->

<div class="section-colored home">

  <div class="container">

    <div class="row">
      <div class="col-md-9 col-sm-8">
        <h2 style="color:white; font-weight:200">We are inviting a limited number of retailers to participate in our pre-launch group. If you are interested in being a part of this exclusive group and would like to learn more, let’s connect!</h2>
      </div>
      <div class="col-md-3 col-sm-4">
        <a href="#" class="btn btn-danger btn-lg"><i class="fa fa-hand-o-right"></i> Let's Connect</a>
      </div>
    </div><!-- /.row -->

  </div><!-- /.container -->

</div><!-- /.section-colored -->