<div class="section">

  <div class="container">

    <div class="row">
      <h1 class="text-center" style="font-family: 'pacificoregular'">Stores</h1>
      <hr>
      <h1 class="text-center" style="font-weight:200">WOULD YOU LIKE TO...</h1>
      <br>

      <div class="col-md-4 col-sm-4">
        <div class="block-icon">
          <i class="fa fa-rocket"></i>
        </div>

        <div class="block-body">
          <h2>Increase Your Acceptance Rates?</h2>
          <div class="line-subtitle"></div>
          <p>
            Pre-screen items for tability before the customer arrives at the store.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="block-icon">
          <i class="fa fa-users"></i>
        </div>

        <div class="block-body">
          <h2>Handle Appointments More Effectively?</h2>
          <div class="line-subtitle"></div>
          <p>
            Schedule Appointments electronically and provide available times.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="block-icon">
          <i class="fa fa-cog"></i>
        </div>

        <div class="block-body">
          <h2>Provide Consignors with status updates?</h2>
          <div class="line-subtitle"></div>
          <p>
            Let your consignors know the status of consigned items and when payment is available.
          </p>
        </div>
      </div>
    </div><!-- /.row -->
    
    <div class="row" style="margin-top: 100px">
      <h1 class="text-center" style="font-family: 'pacificoregular'">Consignors</h1>
      <hr>
      <h1 class="text-center" style="font-weight:200">WOULD YOU LIKE TO...</h1>
      <br>

      <div class="col-md-4 col-sm-4">
        <div class="block-icon">
          <i class="fa fa-rocket"></i>
        </div>

        <div class="block-body">
          <h2>Have Your Consignment Items Prescreened?</h2>
          <div class="line-subtitle"></div>
          <p>
            Have your items prescreened before to your favorite consignment store.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="block-icon">
          <i class="fa fa-users"></i>
        </div>

        <div class="block-body">
          <h2>Schedule Appointments Online for Item Review</h2>
          <div class="line-subtitle"></div>
          <p>
            Request an appointment time to have your items evaluated.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="block-icon">
          <i class="fa fa-cog"></i>
        </div>

        <div class="block-body">
          <h2>Keep Track of your items and appointments</h2>
          <div class="line-subtitle"></div>
          <p>
            Know at a glance which stores you have consigned items and have appointments.
          </p>
        </div>
      </div>
    </div><!-- /.row -->

  </div><!-- /.container -->

</div><!-- /.section -->

<div class="section-colored home">

  <div class="container">

    <div class="row">
      <div class="col-md-9 col-sm-8">
        <h2 style="color:white; font-weight:200">We are inviting a limited number of retailers to participate in our pre-launch group. If you are interested in being a part of this exclusive group and would like to learn more, let’s connect!</h2>
      </div>
      <div class="col-md-3 col-sm-4">
        <a href="#" class="btn btn-danger btn-lg">Let's Connect</a>
      </div>
    </div><!-- /.row -->

  </div><!-- /.container -->

</div><!-- /.section-colored -->