
<div id="blur_parent">
  <div id="blur_image">
</div>
    <div class="image_text_wrapper">
      <div class="image_text">
        <h1>YOUR STORE, CONNECTED.</h1>
        <h4>Control Your Supply and Demand</h4>

        <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-lg btn-danger' %>
        <%= link_to 'Log In', new_user_session_path, class: 'btn btn-lg btn-success' %>
      </div>
    </div>

  
</div>